.search_container {
  background-image: url("https://manybooks.net/sites/default/files/2018-07/bookcoverssmall2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center;
  h1 {
    color: #fff;
  }
}

.books_list_title{
  text-align: center;
}

.input_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search_input {
  position: absolute;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}
.search_icon {
  color: rgb(117, 117, 117);
  padding: 15px;
  cursor: pointer;
}
