.book_item {
    width: 180px;
    margin: 10px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    p {
      margin: 5px;
    }
    .book_title {
      font-weight: bold;
      font-size: 19px;
    }
    .author_name{
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; 
      overflow: hidden;
    }
    .book_deatils {
      padding: 0px 8px;
    }
  }
  