.linksContainer {
  display: flex;
  align-items: center;
  list-style: none;
  > li {
    margin-right: 28px;
  }
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 85%;
}

.navigation {
  background-image: -webkit-linear-gradient(left, #ff7854 0%, #ff5079 100%);
  height: 40px;
  padding: 0 10%;
  padding-top: 20px;
  padding-bottom: 3px;
}

.link {
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  text-decoration: none;
  transition: 100ms ease-in-out color;
  &:active {
    color: white;
  }
  &:visited {
    color: white;
  }

  &:hover {
    color: rgb(169, 242, 255);
  }
}
